body
{
    background-image: url("background.jpg");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    max-width:40%;
    display: grid;
    place-content: center;
    margin-left: 23%; 
    margin-right: auto;   
}

#logo
{
    width: 20px;
    opacity:40%
}

.login_div
{
    text-align: center;
    margin:10%;
	background: rgba(189, 222, 231, 0.95);
    float: none;
    border-radius: 15px;
    padding: 20px;  
}

.container
{
    width: 130%;
}
